<!-- <BiogroundzapiWeb.FormsHTML.lead_capture_form> lib/biogroundzapi_web/components/forms_html/lead_capture_form.html.heex:1 (biogroundzapi) --><div class="card bg-base-100 shadow-md p-6 mb-8">
  <h2 class="card-title mb-4">
    Sign up for updates
  </h2>

  <form action="/subscribe" method="POST" class="form-control space-y-4">
    <input type="hidden" name="audience" value="">

    <div class="form-control">
      <label class="label">
        <span class="label-text">Name</span>
      </label>
      <input type="text" name="name" placeholder="Your name" class="input input-bordered w-full" required>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="email" name="email" placeholder="you@example.com" class="input input-bordered w-full" required>
    </div>

    <div class="form-control mt-4">
      <button type="submit" class="btn btn-primary w-full">
        Join
      </button>
    </div>
  </form>
</div><!-- </BiogroundzapiWeb.FormsHTML.lead_capture_form> -->